@import "tailwindcss";

html {
  scroll-behavior: smooth; /* Thêm dòng này để cuộn mượt */
}

::selection {
  background-color: #4ade80;
  color: #000;
}

.dark ::selection {
  background-color: #4ade80;
  color: #000;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
